@model IEnumerable<EFS_23298_23327.Models.Reservas>

@{
    ViewData["Title"] = "Utilizadores";
    IEnumerable<Reservas> reservasProx = Model.Where(r => r.ReservaDate >= DateTime.Now && !r.Cancelada).OrderBy(r => r.ReservaDate).ToList();
    IEnumerable<Reservas> reservasAnt = Model.Where(r => r.ReservaEndDate < DateTime.Now && !r.Cancelada).OrderByDescending(r => r.ReservaEndDate).ToList();
    IEnumerable<Reservas> reservasCanc = Model.Where(r => r.Cancelada).OrderBy(r => r.ReservaEndDate).ToList();
}



@foreach(var i in reservasProx)
{
    String c = "success";
    @if (i.ReservaDate < DateTime.Now.AddDays(3))
    {
        c = "danger";
    }






   
    
    <div class="card border-2 rounded-pill m-4 border-@c text-center text-info">
            <div class="row m-2">
            <div class="col m-2">
                    <div class="text-info m-2">Reserva</div>
                    <div class="text-light m-2">@i.ReservaId</div>
                </div>
            <div class="col m-2">
                <div class="text-info m-2">Tema</div>
                <div class="text-light m-2">@i.TemaNome</div>
                </div>
            <div class="col m-2">
                <div class="text-info m-2">Nº de Pessoas</div>
                <div class="text-light m-2">@i.NumPessoas</div>
                </div>
            <div class="col m-2">
                <div class="text-info m-2">Sessão</div>
                <div class="text-light m-2">@i.ReservaDate.ToString("g")</div>
                </div>
            <div class="col m-2">
                <div class="text-info m-2">Reservado a</div>
                <div class="text-light m-2">@i.DataCriacao.ToString("d")</div>
                </div>
            <div class="col m-2 text-center justify-content-center align-items-center">
               
                <i class='bi bi-eye-fill cal res mt-5 text-success fa fa-2x' data-bs-toggle='tooltip' data-bs-placement='top' title='Ver reserva' style='font-size:1.5rem;cursor:pointer' id='@i.ReservaId'></i>
            </div>
            </div>
           
            
           
        </div>
     
}
<div class="card border-2 border-primary mt-2 mb-2 text-center">Reservas Anteriores</div>
@foreach(var i in reservasAnt)
{
    <div class="card border-2 rounded-pill m-4 border-dark text-center text-info">
        <div class="row m-2">
            <div class="col m-2">
                <div class="text-info">Reserva</div>
                <div class="text-light">@i.ReservaId</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Tema</div>
                <div class="text-light">@i.TemaNome</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Nº de Pessoas</div>
                <div class="text-light">@i.NumPessoas</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Sessão</div>
                <div class="text-light">@i.ReservaDate.ToString("g")</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Reservado a</div>
                <div class="text-light">@i.DataCriacao.ToString("d")</div>
            </div>
            <div class="col m-2 text-center justify-content-center align-items-center">

                <i class='bi bi-eye-fill cal res mt-5 text-info fa fa-2x' data-bs-toggle='tooltip' data-bs-placement='top' title='Ver reserva' style='font-size:1.5rem;cursor:pointer' id='@i.ReservaId'></i>
            </div>
        </div>

    </div>
    
}
<div class="card border-2 border-danger mt-2 mb-2 text-center">Reservas Canceladas</div>

@foreach (var i in reservasCanc)
{
    <div class="card bg-danger border-2 rounded-pill m-4 border-dark text-center text-info">
        <div class="row m-2">
            <div class="col m-2">
                <div class="text-info">Reserva</div>
                <div class="text-light">@i.ReservaId</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Tema</div>
                <div class="text-light">@i.TemaNome</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Nº de Pessoas</div>
                <div class="text-light">@i.NumPessoas</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Sessão</div>
                <div class="text-light">@i.ReservaDate.ToString("g")</div>
            </div>
            <div class="col m-2">
                <div class="text-info">Reservado a</div>
                <div class="text-light">@i.DataCriacao.ToString("d")</div>
            </div>
            <div class="col m-2 text-center justify-content-center align-items-center">

                <i class='bi bi-eye-fill cal res mt-5 text-white fa fa-2x' data-bs-toggle='tooltip' data-bs-placement='top' title='Ver reserva' style='font-size:1.5rem;cursor:pointer' id='@i.ReservaId'></i>
            </div>
        </div>

    </div>

}
<div id="verRes"></div>

                <script>
    $(document).ready(function () {
    var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    @if(TempData["ResId"] != null){
        <text>
                $.get("/Perfil/VerReserva", { reservaId: @TempData["ResId"] }, function (data, status) {

    $("#verRes").html(data)




    });
        </text>
    }


                        $(".res").on("click",function(){

                          

        $.get("/Perfil/VerReserva", { reservaId: $(this).attr('id') }, function (data, status) {

            $("#verRes").html(data)
           



        });
                        })

    })

       
                    



                </script>