
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escape from Sellium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"
            integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" />
    
    <link href="~/lib/fancybox/css/fancybox.css" rel="stylesheet" />
    <script src="~/lib/fancybox/js/fancybox.umd.js"></script>

    
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/EFS_23298_23306.styles.css" asp-append-version="true" />
</head>

<body class="h-100">
    <header>

       
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/logo-modified.png"
                         class="me-2"
                         height="50"
                         alt="MDB Logo"
                         loading="lazy" />
                   
                </a>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-white">
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" asp-area="" asp-controller="Utilizadores" asp-action="Index">PlaceHolder</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Gerir" asp-controller="Temas" asp-action="Index">PlaceHolder</a>
                        </li>
                        @{
                            if (User.Identity?.IsAuthenticated ?? false && (User.IsInRole("Admin") || User.IsInRole("Anfitriao"))) {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Gerir" asp-controller="Temas" asp-action="Index">Gerir</a>
                                </li>
                            }

                        }
                        <li class="nav-item ms-auto me-2">
                            @if(@User.Identity?.IsAuthenticated == false){
                                <a class="nav-link text-white ms-auto me-2" asp-area="" asp-controller="Account" asp-action="LogIn">Log In</a>

                            }else{
                                <span class="nav-link text-white  ms-auto me-2">@User.Identity?.Name</span>
                            }
                        </li>
                       
                      
                        @{
                            if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <li class="nav-item">
                                <form class="form-inline" asp-area="" asp-action="Logout" asp-controller="Account" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                </form>
                                </li>
                            }
                            
                        }
                     
                       
                    </ul>
                </div>
            </div>
            </nav>
      
    </header>

    @{
        @if (@TempData["Auth"] != null) {
            @if ((bool)@TempData["Auth"] == false) {
                <div class="alert alert-danger alert-dismissible text-center fade show" role="alert">
                    Erro! Não está autorizado!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

        }

    }
    @if (@TempData["logOut"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
           Log out com sucesso!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="container" style="min-width:90%;max-width:90%">
        <main role="main" class="pb-3 mt-2">
            
            @RenderBody()
        </main>
    </div>

    <footer class="footer h-50">
            <div class="container">
                &copy; 2024 - EFS_23298_23306 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    
    
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
