@model IEnumerable<Salas>


@{

    var dicCores = new Dictionary<int, string>();
    if (TempData["SalasCor"] != null)
    {
        dicCores = (Dictionary<int, string>)@TempData["SalasCor"];

    }

    var dicVals = new Dictionary<string, string>();
    if (TempData["dicVals"] != null)
    {
        dicVals = (Dictionary<string, string>)@TempData["dicVals"];

    }

    HashSet<Anfitrioes?> anfs = Model.SelectMany(a => a.ListaAnfitrioes).Select(a => a).ToHashSet();
    



}

<span class="text-center text-white mb-2">@AppUtils.GetHumanReadableCount("resultado", Model.Count())</span>
<table id="Salas" class="table table-bordered table-hover table-striped">
    <thead class="table-info text-center">
        <tr>
            <th class="w-100 text-nowrap">

                <span>@Html.DisplayNameFor(model => model.Numero)</span><br/>
                <input class="w-75 filter" id="Numero" onkeyup="filter(this)"></input>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.Area)<br />
                <input class="w-75 filter" id="Area" onkeyup="filter(this)"></input>
            </th>

            <th class="w-100 text-nowrap">
                <div class="">
                    @Html.DisplayNameFor(model => model.ListaAnfitrioes)<br />
                    <select multiple="multiple" id="ListaAnfitrioes" class="form-control  multiple-checkboxes">

                        @foreach (var i in @anfs)
                        {


                            if (i.UserName.Equals(@TempData["UserLogado"]))
                            {
                                <option class=" text-white  border-success border-3 bg-secondary flex-fill" value="@i.Id">@i.PrimeiroNome @i.UltimoNome</option>

                            }
                            else
                            {
                                <option class=" text-white bg-warning flex-fill" value="@i.Id">@i.PrimeiroNome @i.UltimoNome</option>

                            }


                        }
                    </select>
                </div>

            </th>
            <th class="w-100 text-nowrap">
                Nº Reservas<i class=" ms-2 bi bi-patch-question" data-bs-toggle="tooltip" data-html="true" data-bs-placement="top" data-bs-html='true' title="Nº de reservas restantes <strong>da semana atual</strong> "></i><br />
                <input class="w-75 filter" id="NumReservas" onkeyup="filter(this)"></input>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.DataCriacao)<br />
                <div>
                    <i class="bi bi-arrow-down-short" style="cursor:pointer" id="DataCriacao_desc" onclick="filter(this)"></i> <i class="bi bi-arrow-up-short" id="DataCriacao_asc" onclick="filter(this)" style="cursor:pointer"></i>

                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoPorUsername)<br />
                <input class="w-75 filter" id="CriadoPorUsername" onkeyup="filter(this)"></input>
            </th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var salaCor = "";
            if (dicCores.Any())
            {
                salaCor = dicCores.GetValueOrDefault((int)item.Numero);
            }

            <tr class="text-center table-primary align-text-top">
                <td>
                    <ul class="list-group list-group-horizontal">


                        <li class="list-group-item text-white  flex-fill ms-2" style="background-color:@salaCor">@Html.DisplayFor(modelItem => item.Numero)</li>
                    </ul>
                </td>
                <td>
                    @if (item.Area != null)
                    {

                        @Html.DisplayFor(modelItem => item.Area)
                        ;
                    }
                    else
                    {

                        <span>N.A.</span>
                    }
                </td>



                <td class="text-center align-items-center align-content-center">

                    @if (@item.ListaAnfitrioes.Any())
                    {
                        <ul class="list-group list-group-horizontal">

                            @foreach (var anf in @item.ListaAnfitrioes)
                            {

                                if (anf.UserName.Equals(@TempData["UserLogado"]))
                                {
                                    <li class="list-group-item text-white  border-success border-3 bg-secondary  flex-fill ms-2">@anf.PrimeiroNome @anf.UltimoNome</li>

                                }
                                else
                                {
                                    <li class="list-group-item text-white    bg-warning flex-fill ms-2">@anf.PrimeiroNome @anf.UltimoNome</li>

                                }




                            }
                        </ul>

                    }
                    else
                    {

                        <span>N.A.</span>
                    }

                </td>
                <td>
                    @{
                        var s = ((Dictionary<int, int>)ViewBag.SalasCount).GetValueOrDefault(item.SalaId);
                    }

                    <span>@s</span>

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoPorUsername)
                </td>
                <td class="align-content-center text-nowrap">
                    <a asp-action="Edit" title="Editar" asp-route-id="@item.SalaId"><i class="fa fa-pencil link-success icons-index"></i></a>
                    <a asp-action="Details" title="Ver" asp-route-id="@item.SalaId"><i class="fa-solid fa-circle-info icons-index"></i></a>
                    <a data-bs-toggle="modal" title="Apagar" style="cursor:pointer" data-bs-target="#modalApagar" onclick="teste('@item.SalaId','@item.Numero')"><i class="fa fa-trash icons-index link-danger delete"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>

                    <script>


    $(".table").ready(function () {
        var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        var dictVals = new Object();
        $("#ListaAnfitrioes").multiselect('destroy');
        $("#ListaAnfitrioes").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            nonSelectedText: 'Selecionar anfitriões',
            buttonWidth: '400px',

            onChange: function (option, checked, select) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            filterBehavior: "text",
            enableCaseInsensitiveFiltering: true,
            onSelectAll: function (options) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            onDeselectAll: function (options) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            enableFiltering: true,
            dropUp: false,
            popupContainer: '<div class="multiselect-container dropdown-menu" style="width: 279px"></div>',
            maxHeight: 400,
            includeSelectAllOption: true,
            selectAllText: 'Selecionar todos',
            numberDisplayed: 0,
            allSelectedText: false

        });


    @foreach (var i in dicVals)
    {
        @:$("#@i.Key").val("@i.Value").change();
        @:console.log("#@i.Key");
    }
        })














    
              var lastId = "@TempData["Last"]";
    console.log(lastId.toLowerCase().indexOf("ListaAnfitrioes"));

    if ("@TempData["ListaAnfs"]" != null) {
        var arr = [];
    @foreach (var i in (List<String>)@TempData["ListaAnfs"])
    {
        @:arr.push("@i");
    }

            console.log(arr);
        console.log(lastId.toLowerCase())
        console.log(lastId.toLowerCase().indexOf("cancelada"))
        console.log(lastId.toLowerCase().indexOf("listaanfi"))
        $("#ListaAnfitrioes").multiselect('select', arr);
    }

    if ( lastId.toLowerCase().indexOf("listaanfi") >= 0 || lastId.toLowerCase().indexOf("dat") >= 0) {

    } else {
        var fldLength = $(lastId).val().length;
        $(lastId).focus();
        $(lastId)[0].setSelectionRange(fldLength, fldLength);
    }
                    </script>