@model EFS_23298_23327.ViewModel.AnfitriaoSalaViewModel

@{
    ViewData["Title"] = "Criar";

}



<script type="text/javascript">
    // https://github.com/davidstutz/bootstrap-multiselect/issues/1230
    //Depois de 4 horas à procura de um plugin que funcionasse com bs 5,
    //Muito Obrigado andyg2
    $(document).ready(function () {
        $(".multiple-checkboxes").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            nonSelectedText: 'Selecionar anfitriões',
            includeSelectAllOption: true,
            selectAllText: 'Selecionar todos',
            numberDisplayed: 0,
            allSelectedText: false

        });
    });
</script>

<div class="mt-4">
    <a class="bi bi-arrow-left-circle-fill h2 me-5 text-info iconesConf" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>


<h2 class="ms-2  mt-4">Criar Sala </h2>

<hr class="bg-primary " />
@if (@ViewBag.SalaExistente != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Sala <strong>@ViewBag.SalaExistente</strong> já existe!
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Sala.Numero, new { @class = "required" })
                    <input asp-for="Sala.Numero" class="form-control" />
                    <span asp-validation-for="Sala.Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sala.Area" class="control-label"></label>
                    <input asp-for="Sala.Area" class="form-control" />
                    <span asp-validation-for="Sala.Area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ListaAnfitrioes)
                    @*
                    @Html.ListBoxFor(model => model.ListaAnfitrioes, (MultiSelectList)ViewBag.SelectionIdList, new { @class = "form-control" })
                    *@
                    <select multiple="multiple" class="form-control multiple-checkboxes" asp-for="ListaAnfitrioes">

                        @foreach (var i in @ViewBag.SelectionIdList as HashSet<Utilizadores>) {
                            @if (Model.ListaAnfitrioes.Contains(@i.Id)) {
                                <option selected="selected" value="@i.Id">@i</option>
                            } else {
                                <option value="@i.Id">@i.UserName</option>
                            }

                        }
                    </select>
                    <span asp-validation-for="ListaAnfitrioes" class="text-danger"></span>
                </div>
            </div>


                
            </div>
        </div>

    </div>

    <br />
    

    <br />
    <div class="form-group text-center d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Criar" class="btn btn-outline-secondary btn-lg" />
    </div>


</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
