@model EFS_23298_23306.ViewModel.AnfitriaoSalaViewModel

@{
    ViewData["Title"] = "Criar";

}





<div>
    <a class="fa fa-angles-left display-6 link-underline-opacity-0 link-secondary" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>


<h2 class="ms-5">Criar Salas </h2>

<br />

<hr />
@if (@ViewBag.SalaExistente != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Sala <strong>@ViewBag.SalaExistente</strong> já existe!
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Sala.Numero, new { @class = "required" })
                    <input asp-for="Sala.Numero" class="form-control" />
                    <span asp-validation-for="Sala.Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sala.Area" class="control-label"></label>
                    <input asp-for="Sala.Area" class="form-control" />
                    <span asp-validation-for="Sala.Area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ListaAnfitrioes)
                    @Html.ListBoxFor(model => model.ListaAnfitrioes, (MultiSelectList)ViewBag.SelectionIdList, new { @class = "form-control" })

                    <span asp-validation-for="ListaAnfitrioes" class="text-danger"></span>
                </div>
            </div>


                
            </div>
        </div>

    </div>

    <br />
    

    <br />
    <div class="form-group text-center d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Criar" class="btn btn-outline-primary btn-lg" />
    </div>


</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
