@model IEnumerable<EFS_23298_23327.Models.Salas>

@{
    ViewData["Title"] = "Index";
    var dicCores = new Dictionary<int, string>();
    if (TempData["SalasCor"] != null)
    {
        dicCores = (Dictionary<int, string>)@TempData["SalasCor"];

    }
    HashSet<int> numSalas = Model.Select(s => s.Numero).ToHashSet();
    var salasLegenda = "";
    foreach (var s in numSalas)
    {

        salasLegenda += "<span class='me-2'>Sala " + s + "<i class='ms-2 bi bi-circle-fill' style='color:" + dicCores.GetValueOrDefault(s) + "'></i></span>";
        salasLegenda += "\t\t";
    }
    HashSet<Anfitrioes?> anfs = Model.SelectMany(a => a.ListaAnfitrioes).Select(a => a).ToHashSet();

    var dicSalasNum = ((Dictionary<int, int>)ViewBag.SalasCount);
}


<script>
    function teste(id, nome) {
        $('#nomeSala').text(nome);
        $('#apagarSala').attr('action', 'Salas/Delete/' + id);
    }
   


</script>

<div class="modal fade" id="modalApagar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-circle-fill display-6 me-5 "></i> Deseja apagar Sala '<span id="nomeSala">a</span>' ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer ">

                <button type="button" class="btn btn-secondary mr-auto" data-bs-dismiss="modal">Fechar</button>
                <form id="apagarSala" method="post">
                    <button type="submit" class="btn btn-danger">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h1>Salas</h1>
@if (TempData["SalaApagada"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Sala <strong>@TempData["SalaApagada"]</strong> apagado com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErroEliminar"] != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Não pode apagar esta sala pois está a ser usada no tema <strong>@TempData["ErroEliminar"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (@TempData["NumeroSalaCriada"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Sala <strong>@TempData["NumeroSalaCriada"]</strong> criada com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    <a asp-action="Create">
        <button class="btn btn-info"> <i class="fa fa-add me-2 "></i>Criar Sala</button>
    </a>

</p>
@if (TempData["SalasCor"] != null)
{
    <div id="cores" class="text-end"> @Html.Raw(@salasLegenda)</div>

}
<div id="tabela">
<span class="text-center text-white mb-2">@AppUtils.GetHumanReadableCount("resultado", Model.Count())</span>
<table  class="table table-bordered table-hover table-striped">
    <thead class="table-info text-center">
        <tr>
                <th class="w-25 text-nowrap">

                    <span>@Html.DisplayNameFor(model => model.SalaId)</span><br />
                    <input class="w-100 filter" id="SalaId" onkeyup="filter(this)"></input>
                </th>
                <th class="w-25 text-nowrap">

                    <span>@Html.DisplayNameFor(model => model.Numero)</span><br />
                    <input class="w-100 filter" id="Numero" onkeyup="filter(this)"></input>
            </th>
                <th class="w-25 text-nowrap">
                    @Html.DisplayNameFor(model => model.Area)<br />
                    <input class="w-100 filter" id="Area" onkeyup="filter(this)"></input>
            </th>

                <th class="w-25 text-nowrap">
                <div class="">
                        @Html.DisplayNameFor(model => model.ListaAnfitrioes)<br />
                    <select multiple="multiple" id="ListaAnfitrioes" class="form-control  multiple-checkboxes">

                        @foreach (var i in @anfs)
                        {


                            if (i.UserName.Equals(@TempData["UserLogado"]))
                            {
                                <option class=" text-white  border-success border-3 bg-secondary flex-fill" value="@i.Id">@i.PrimeiroNome @i.UltimoNome</option>

                            }
                            else
                            {
                                <option class=" text-white bg-warning flex-fill" value="@i.Id">@i.PrimeiroNome @i.UltimoNome</option>

                            }


                        }
                    </select>
                </div>


            </th>
                <th class="w-100 text-nowrap">
                    Nº Reservas<i class=" ms-2 bi bi-patch-question" data-bs-toggle="tooltip" data-html="true" data-bs-placement="top" data-bs-html='true' title="Nº de reservas restantes <strong>da semana atual</strong> "></i><br />
                    <input class="w-100 filter" id="NumReservas" onkeyup="filter(this)"></input>
            </th>
                <th class="w-100 text-nowrap">
                    @Html.DisplayNameFor(model => model.DataCriacao)<br />
                    <div>
                        <i class="bi bi-arrow-down-short" style="cursor:pointer" id="DataCriacao_desc" onclick="filter(this)"></i> <i class="bi bi-arrow-up-short" id="DataCriacao_asc" onclick="filter(this)" style="cursor:pointer"></i>

                    </div>
            </th>
                <th class="w-100 text-nowrap">
                    @Html.DisplayNameFor(model => model.CriadoPorUsername)<br />
                    <input class="w-100 filter" id="CriadoPorUsername" onkeyup="filter(this)"></input>
            </th>
            
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var salaCor = "";
            if (dicCores.Any())
            {
                salaCor = dicCores.GetValueOrDefault((int)item.Numero);
            }

            <tr class="text-center table-primary align-text-top">
                    <td>
                        <ul class="list-group list-group-horizontal">


                            <li class="list-group-item text-white  flex-fill ms-2" style="background-color:@salaCor">@Html.DisplayFor(modelItem => item.SalaId)</li>
                        </ul>
                    </td>
                <td>
                    <ul class="list-group list-group-horizontal">


                        <li class="list-group-item text-white  flex-fill ms-2" style="background-color:@salaCor">@Html.DisplayFor(modelItem => item.Numero)</li>
                    </ul>
                </td>
                <td>
                    @if (item.Area != null)
                    {

                        @Html.DisplayFor(modelItem => item.Area)
                        ;
                    }
                    else
                    {

                        <span>N.A.</span>
                    }
                </td>



                <td class="text-center align-items-center align-content-center">

                    @if (@item.ListaAnfitrioes.Any())
                    {
                        <ul class="list-group list-group-horizontal">

                            @foreach (var anf in @item.ListaAnfitrioes)
                            {

                                if (anf.UserName.Equals(@TempData["UserLogado"]))
                                {
                                    <li class="list-group-item text-white  border-success border-3 bg-secondary  flex-fill ms-2">@anf.PrimeiroNome @anf.UltimoNome</li>

                                }
                                else
                                {
                                    <li class="list-group-item text-white    bg-warning flex-fill ms-2">@anf.PrimeiroNome @anf.UltimoNome</li>

                                }




                            }
                        </ul>

                    }
                    else
                    {

                        <span>N.A.</span>
                    }

                </td>
                <td>
                    @{
                        var s = dicSalasNum.GetValueOrDefault(item.SalaId);
                    }
                    
                       <span>@s</span>

                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoPorUsername)
                </td>
                <td class="align-content-center text-nowrap">
                    <a asp-action="Edit" title="Editar" asp-route-id="@item.SalaId"><i class="fa fa-pencil link-success icons-index"></i></a>
                    <a asp-action="Details" title="Ver" asp-route-id="@item.SalaId"><i class="fa-solid fa-circle-info icons-index"></i></a>
                    <a data-bs-toggle="modal" title="Apagar" style="cursor:pointer" data-bs-target="#modalApagar" onclick="teste('@item.SalaId','@item.Numero')"><i class="fa fa-trash icons-index link-danger delete"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>

@Html.AntiForgeryToken()
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

     <script>
    $(document).ready(function () {
        $("#ListaAnfitrioes").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            nonSelectedText: 'Selecionar anfitriões',

            buttonWidth: '400px',
            onChange: function (option, checked, select) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            filterBehavior: "text",
            enableCaseInsensitiveFiltering: true,
            onSelectAll: function (options) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            onDeselectAll: function (options) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            enableFiltering: true,
            dropUp: false,
            popupContainer: '<div class="multiselect-container dropdown-menu" style="width: 279px"></div>',
            maxHeight: 400,
            includeSelectAllOption: true,
            selectAllText: 'Selecionar todos',
            numberDisplayed: 0,
            allSelectedText: false

        });
    });


    function filter(el) {
        var dictCores = new Object();
        var dictVals = new Object();
        var dictSalasNum = new Object();

        var lastId = "#" + $(el).attr('id')
        console.log(lastId)
        $('.filter').each(function (i, obj) {

            if (obj.value != null && obj.value != "") {
                dictVals[$(obj).attr('id')] = obj.value
            }

        });
        if ($(el).attr('id').toLowerCase().indexOf("dat") >= 0) {
            var arr = $(el).attr('id').split("_");
            dictVals[arr[0]] = arr[1];
        }

        console.log(dictVals)

        var listaAnfStr = ($("#ListaAnfitrioes").val()).join(",");
        console.log(listaAnfStr);

    @foreach (var i in dicCores)
    {
        @:dictCores['@i.Key'] ='@i.Value';
    }

    @foreach (var i in dicSalasNum)
    {
            @:dictSalasNum['@i.Key'] = '@i.Value';
    }


    @if (!dicCores.Any())
    {
        @:dictCores['0']="";
    }
    @if (!dicSalasNum.Any())
    {
        @:dictSalasNum['0']="0";
    }

            console.log(dictCores)

        $.get("/Gerir/Salas/Filter", { dictVals: dictVals, dic: dictCores, last: lastId, anfs: ($("#ListaAnfitrioes").val()).join(","),dicSalasCount:dictSalasNum }, function (data, status) {
            $("#tabela").html(data)




        });

    }
                    </script>