@model IEnumerable<EFS_23298_23327.Models.Reservas>

    
@{
    var dicCores = new Dictionary<int, string>();
    if (TempData["SalasCor"] != null) {
        dicCores = (Dictionary<int, string>)@TempData["SalasCor"];

    }
  
    var dicVals = new Dictionary<string, string>();
    if (TempData["dicVals"] != null) {
        dicVals = (Dictionary<string, string>)@TempData["dicVals"];

    }
    
    HashSet<Anfitrioes?> anfs = Model.SelectMany(a => a.ListaAnfitrioes).Select(a => a).ToHashSet();
    if(!anfs.Any()){
        anfs = (HashSet<Anfitrioes>) TempData["Anfs"];
    }


}

  
<span class="text-center text-white mb-2">@AppUtils.GetHumanReadableCount("resultado", Model.Count())</span>

<table class="table text-center table-bordered table-hover table-striped table-secondary">
    <thead>
        <tr class=" text-center">
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.ReservaId)<br/>
                <input class="w-100 filter" id="ReservaId" onkeyup="filter(this)"></input>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.Sala.Numero)<br />
                <input class="w-100 filter" id="Sala_Numero" onkeyup="filter(this)"></input>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.Cliente.UserName)<br />
                <input class="w-100 filter" id="Cliente_UserName" onkeyup="filter(this)"></input>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.ReservaDate)<br />
                <div>
                    <i class="bi bi-arrow-down-short" style="cursor:pointer" id="ReservaDate_desc" onclick="filter(this)"></i> <i class="bi bi-arrow-up-short" onclick="filter(this)" id="ReservaDate_asc" style="cursor:pointer"></i>

                </div>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.ReservaEndDate)<br />
                <div>
                    <i class="bi bi-arrow-down-short" style="cursor:pointer" id="ReservaEndDate_desc" onclick="filter(this)"></i> <i class="bi bi-arrow-up-short" id="ReservaEndDate_asc" onclick="filter(this)" style="cursor:pointer"></i>

                </div>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.NumPessoas)<br />
                <input class="w-100 filter" id="NumPessoas" onkeyup="filter(this)"></input>
            </th>
            <th class="w-100 text-nowrap">
                <div class="">
                    @Html.DisplayNameFor(model => model.ListaAnfitrioes)<br />
                    <select multiple="multiple" id="ListaAnfitrioes" class="form-control  multiple-checkboxes">

                        @foreach (var i in @anfs) {


                            if (i.UserName.Equals(@TempData["UserLogado"])) {
                                <option class=" text-white  border-success border-3 bg-secondary flex-fill" value="@i.Id">@i.PrimeiroNome @i.UltimoNome</option>

                            } else {
                                <option class=" text-white bg-warning flex-fill" value="@i.Id">@i.PrimeiroNome @i.UltimoNome</option>

                            }


                        }
                    </select>
                </div>
            </th>
            <th class="w-100 text-nowrap">
                @Html.DisplayNameFor(model => model.Cancelada)<br />
                <select class="form-select filter text-dark bg-white w-100" id="Cancelada" aria-label="Default select example">
                    <option selected value="@null">Escolher</option>
                    <option class="text-success" onselect="filter(this)" value="true">Sim</option>
                    <option class="text-danger" onselect="filter(this)" value="false">Não</option>

                </select>
            </th>
            <th class="w-100 text-nowrap">
               Pendentes<br />
                <select class="form-select filter text-dark bg-white w-100" id="Pendentes" aria-label="Default select example">
                    <option selected value="@null">Escolher</option>
                    <option class="text-success" onselect="filter(this)" value="true">Sim</option>
                    <option class="text-danger" onselect="filter(this)" value="false">Não</option>

                </select>
            </th>
            <th class="w-100 text-nowrap"><br/>
                @Html.DisplayNameFor(model => model.DataCriacao)<br />
                <div>
                    <i class="bi bi-arrow-down-short" style="cursor:pointer" id="DataCriacao_desc" onclick="filter(this)"></i> <i class="bi bi-arrow-up-short" id="DataCriacao_asc" onclick="filter(this)" style="cursor:pointer"></i>

                </div>
            </th>
            <th>
                Ações
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {


            var salaCor = "";
            if (dicCores.Any()) {
                salaCor = dicCores.GetValueOrDefault((int)item.Sala.Numero);
            }
            var cancel = "";
            if (item.Cancelada) {
                cancel = "strikeout";
            }


            <tr class="table-primary  @cancel">
                <td class="text-center align-items-center align-content-center">
                    @Html.DisplayFor(modelItem => item.ReservaId)
                </td>
                <td class="text-center align-items-center align-content-center">
                    <ul class="list-group list-group-horizontal">


                        <li class="list-group-item text-white  flex-fill ms-2" style="background-color:@salaCor">@Html.DisplayFor(modelItem => item.Sala.Numero)</li>
                    </ul>


                </td>
                <td class="text-center align-items-center align-content-center">

                    @Html.DisplayFor(modelItem => item.Cliente.UserName)

                </td>
                <td class="text-center align-items-center align-content-center">

                    @Html.DisplayFor(modelItem => item.ReservaDate)


                </td>
                <td class="text-center align-items-center align-content-center">

                    @Html.DisplayFor(modelItem => item.ReservaEndDate)

                </td>
                <td class="text-center align-items-center align-content-center">

                    @Html.DisplayFor(modelItem => item.NumPessoas)

                </td>
                <td class="text-center align-items-center align-content-center">

                    @if (@item.ListaAnfitrioes.Any()) {
                        <ul class="list-group list-group-horizontal">

                            @foreach (var anf in @item.ListaAnfitrioes) {

                                if (anf.UserName.Equals(@TempData["UserLogado"])) {
                                    <li class="list-group-item text-white  border-success border-3 bg-secondary  flex-fill ms-2">@anf.PrimeiroNome @anf.UltimoNome</li>

                                } else {
                                    <li class="list-group-item text-white    bg-warning flex-fill ms-2">@anf.PrimeiroNome @anf.UltimoNome</li>

                                }




                            }
                        </ul>

                    } else {

                        <span>N.A.</span>
                    }

                </td>
                <td class="text-center align-items-center align-content-center">
                    @if (item.Cancelada) {
                        <span class="text-danger fw-bold">Sim</span>
                    } else {
                        <span class="text-success fw-bold">Não</span>
                    }
                </td>
                <td class="text-center align-items-center align-content-center">
                    @if (item.ReservaDate > DateTime.Now) {
                        <span class="text-success fw-bold">Sim</span>
                    } else {
                        <span class="text-danger fw-bold">Não</span>
                    }
                </td>
                <td class="text-center align-items-center align-content-center">
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td class="align-content-center text-nowrap">
                    <a asp-action="Edit" title="Editar" asp-route-id="@item.ReservaId"><i class="fa fa-pencil link-success icons-index"></i></a>
                    <a asp-action="Details" title="Ver" asp-route-id="@item.ReservaId"><i class="fa-solid fa-circle-info icons-index"></i></a>
                    <a data-bs-toggle="modal" title="Apagar" style="cursor:pointer" data-bs-target="#modalApagar" onclick="teste('@item.ReservaId','@item.ReservaId')"><i class="fa fa-trash icons-index link-danger delete"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.multiple-checkboxes').multiselect('refresh');

  

    $(".table").ready(function () {

        $('#Pendentes').select2({
            minimumResultsForSearch: -1
        });
        $('#Pendentes').on('select2:select', function (e) {
           
            var el = $("#Pendentes")
           
            filter(el);
        });
        $('#Cancelada').select2({
            minimumResultsForSearch: -1,
        });
        $('#Cancelada').on('select2:select', function (e) {
           
            var el = $("#Cancelada")
           
            filter(el);
        });
       
        var dictVals = new Object();
        $("#ListaAnfitrioes").multiselect('destroy');
        $("#ListaAnfitrioes").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            nonSelectedText: 'Selecionar anfitriões',
            buttonWidth: '400px',

            onChange: function (option, checked, select) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            filterBehavior: "text",
            enableCaseInsensitiveFiltering: true,
            onSelectAll: function (options) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            onDeselectAll: function (options) {
                console.log($("#ListaAnfitrioes"));
                filter($("#ListaAnfitrioes"));
            },
            enableFiltering: true,
            dropUp: false,
            popupContainer: '<div class="multiselect-container dropdown-menu" style="width: 279px"></div>',
            maxHeight: 400,
            includeSelectAllOption: true,
            selectAllText: 'Selecionar todos',
            numberDisplayed: 0,
            allSelectedText: false

        });
    



    @foreach (var i in dicVals) {
        @:$("#@i.Key").val("@i.Value").change();
        @:console.log("#@i.Key");
    }
    })

                var lastId = "@TempData["Last"]";
        console.log(lastId.toLowerCase().indexOf("ListaAnfitrioes"));

        if ("@TempData["ListaAnfs"]" != null) {
            var arr = [];
    @foreach (var i in (List<String>)@TempData["ListaAnfs"]) {
        @:arr.push("@i");
    }

                console.log(arr);
        console.log(lastId.toLowerCase())
        console.log(lastId.toLowerCase().indexOf("cancelada"))
        console.log(lastId.toLowerCase().indexOf("listaanfi"))
            $("#ListaAnfitrioes").multiselect('select', arr);
        }

    if (lastId.toLowerCase().indexOf("cancelada") >= 0 || lastId.toLowerCase().indexOf("listaanfi") >= 0 || lastId.toLowerCase().indexOf("dat") >= 0 || lastId.toLowerCase().indexOf("pendentes") >= 0) {
           
        }else{
        var fldLength = $(lastId).val().length;
        $(lastId).focus();
        $(lastId)[0].setSelectionRange(fldLength, fldLength);
        }
    
</script>

