@model EFS_23298_23327.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Criar Utilizador";
}



<script type="text/javascript">
    // https://github.com/davidstutz/bootstrap-multiselect/issues/1230
    //Depois de 4 horas à procura de um plugin que funcionasse com bs 5,
    //Muito Obrigado andyg2
    $(document).ready(function () {
        $(".multiple-checkboxes").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            nonSelectedText: 'Selecionar roles(s)',
            includeSelectAllOption: true,
            selectAllText: 'Selecionar todos',
            numberDisplayed: 0,
            allSelectedText: false
            
        });
    });
</script>
@if (@ViewBag.UserExiste != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(@ViewBag.UserExiste)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="mt-4">
    <a class="bi bi-arrow-left-circle-fill h2 me-5 text-info iconesConf" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>


<h2 class="ms-2  mt-4">Criar Utilizador </h2>

<hr class="bg-primary " />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container-fluid justify-content-center">

                <div class="row">
                    <div class="col ">
                        <div class="form-group">
                            <label asp-for="Username" class="control-label required"></label>
                            <input asp-for="Username" class="form-control " />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <label asp-for="PrimeiroNome" class="control-label "></label>
                        <input asp-for="PrimeiroNome" class="form-control" />
                        <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label required"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col ">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <label asp-for="UltimoNome" class="control-label "></label>
                        <input asp-for="UltimoNome" class="form-control" />
                        <span asp-validation-for="UltimoNome" class="text-danger"></span>
                    </div>
                <div class="form-group text-center">
                    @*  @Html.LabelFor(m => m.Roles, new { @class = "required" })
                    @Html.ListBoxFor(model => model.Roles, (MultiSelectList)ViewBag.SelectionIdList, new { @class = "form-control" })
                    *@
                    @Html.LabelFor(m => m.Roles, new { @class = "required" })<br />
                    <select multiple="multiple" class="form-control multiple-checkboxes" asp-for="Roles">

                        @foreach (var i in @ViewBag.SelectionIdList) {
                            @if (Model.Roles.Contains(@i)) {

                                @if (i.Equals("Admin")) {
                                    <option selected="selected" class="list-group-item text-white bg-danger flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Anfitriao")) {
                                    <option selected="selected" class="list-group-item text-white  bg-warning flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Cliente")) {
                                    <option selected="selected" class="list-group-item text-white  bg-primary flex-fill" value="@i">@i</option>
                                }

                            } else {
                                @if (i.Equals("Admin")) {
                                    <option class="list-group-item text-white bg-danger flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Anfitriao")) {
                                    <option class="list-group-item text-white  bg-warning flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Cliente")) {
                                    <option class="list-group-item text-white  bg-success flex-fill" value="@i">@i</option>
                                }
                            }

                        }
                    </select>

                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
                    </div>
                </div>
            </div>

            <br />
    <div class="form-group text-center d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Criar" class="btn btn-outline-secondary btn-lg" />
    </div>

        </form>
        
<div class="alert alert-warning mt-3" role="alert">
    <h4 class="alert-heading text-center">Roles</h4>
    <p><i class="fa fa-duotone fa-circle-dot me-2"></i>Utilizadores não podem ser <strong>ambos Anfitriões e Clientes!</strong></p>
   
    <p><i class="fa fa-duotone fa-circle-dot me-2"></i>Utilizadores criados como <strong>Anfitriões nunca poderão ser Clientes!</strong></p>
    
    <p><i class="fa fa-duotone fa-circle-dot me-2"></i>Utilizadores criados como <strong>Clientes nunca poderão ser Anfitriões!</strong></p>
    
    <p><i class="fa fa-duotone fa-circle-dot me-2"></i>Utilizadores criados <strong>apenas como Admin nunca poderão Anfitriões ou Clientes!</strong></p>
    
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
