@model EFS_23298_23327.ViewModel.UtilizadoresViewModel

@{
    ViewData["Title"] = "Editar Utilizador";
}




<script type="text/javascript">
    // https://github.com/davidstutz/bootstrap-multiselect/issues/1230
    //Depois de 4 horas à procura de um plugin que funcionasse com bs 5,
    //Muito Obrigado andyg2
    $(document).ready(function () {
        $(".multiple-checkboxes").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            nonSelectedText: 'Selecionar roles(s)',
            includeSelectAllOption: true,
            selectAllText: 'Selecionar todos',
            numberDisplayed: 0,
            allSelectedText:false,
            
            
        });
    });
</script>
<div class="mt-4">
    <a class="fa fa-angles-left display-6 link-underline-opacity-0 link-secondary" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>

<h2 class="ms-2  mt-4">Editar Utilizador <span style="color:mediumpurple"><strong>@Model.Username</strong></span> </h2>


<hr class="bg-primary " />

@if (@ViewBag.UserExiste != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(@ViewBag.UserExiste)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (@ViewBag.ShowAlert == true) {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Utilizador <strong>@Model.Username</strong> guardado com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}





<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid justify-content-center">

        <div class="row">
            <div class="col ">
                <div class="form-group">
                    <label asp-for="Username" class="control-label required"></label>
                    @if(Model.Username=="admin"){
                        <input type="hidden" asp-for="Username" />
                        <input disabled="true" asp-for="Username" class="form-control" />
                    }else{
                        <input asp-for="Username" class="form-control" />
                    }
                   
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrimeiroNome" class="control-label "></label>
                    <input asp-for="PrimeiroNome" class="form-control" />
                    <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                </div>
               
            </div>
            <div class="col ">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UltimoNome" class="control-label "></label>
                    <input asp-for="UltimoNome" class="form-control" />
                    <span asp-validation-for="UltimoNome" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                  @*  @Html.LabelFor(m => m.Roles, new { @class = "required" })
                    @Html.ListBoxFor(model => model.Roles, (MultiSelectList)ViewBag.SelectionIdList, new { @class = "form-control" })
                    *@
                    @Html.LabelFor(m => m.Roles, new { @class = "required" })<br/>
                    <select multiple="multiple" class="form-control multiple-checkboxes" asp-for="Roles">
                       
                        @foreach (var i in @ViewBag.SelectionIdList) {
                            @if (Model.Roles.Contains(@i)) {
                                
                                @if (i.Equals("Admin")) {
                                    <option selected="selected" class="list-group-item text-white bg-danger flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Anfitriao")) {
                                    <option selected="selected" class="list-group-item text-white  bg-warning flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Cliente")) {
                                    <option selected="selected" class="list-group-item text-white  bg-primary flex-fill" value="@i">@i</option>
                                }
                               
                                }else{
                                @if (i.Equals("Admin")) {
                                    <option class="list-group-item text-white bg-danger flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Anfitriao")) {
                                    <option  class="list-group-item text-white  bg-warning flex-fill" value="@i">@i</option>
                                }
                                @if (i.Equals("Cliente")) {
                                    <option class="list-group-item text-white  bg-primary flex-fill" value="@i">@i</option>
                                }
                                }
                            
                        }
                    </select>

                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="form-group text-center d-grid gap-2 col-6 mx-auto">
       
        <input type="submit" value="Guardar" class="btn btn-primary btn-lg" />
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
