@model IEnumerable<EFS_23298_23327.ViewModel.UtilizadoresViewModel>

@{
    ViewData["Title"] = "Utilizadores";
}

<script>
    function teste(id, nome) {
        $('#nomeUser').text(nome);
        $('#apagarUser').attr('action', '/Gerir/Utilizadores/Delete/' + id);
    }


</script>
<div class="modal fade" id="modalApagar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-triangle-exclamation display-6 me-5 "></i> Deseja apagar utilizador '<span id="nomeUser">a</span>' ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer ">

                <button type="button" class="btn btn-secondary mr-auto" data-bs-dismiss="modal">Fechar</button>
                <form id="apagarUser"  method="post">
                    <button type="submit" class="btn btn-danger">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h1>Utilizadores</h1>
@if (@TempData["UtilizadorApagado"] != null) {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Utilizador <strong>@TempData["UtilizadorApagado"]</strong> apagado com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (@TempData["NomeUtilizadorCriado"] != null) {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Utilizador <strong>@TempData["NomeUtilizadorCriado"]</strong> criado com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (@TempData["ErroAdmin"] != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(@TempData["ErroAdmin"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    <a asp-action="Create">
        <button class="btn btn-primary"> <i class="fa fa-add me-2"></i>Criar utilizador</button>
    </a>

</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            <td>
                    @if (item.UltimoNome != null) {
                        @Html.DisplayFor(modelItem => item.PrimeiroNome)
                    } else {
                        @:N.A
                    }
            </td>
            <td>
                @if (item.UltimoNome != null){
                        @Html.DisplayFor(modelItem => item.UltimoNome)
                }else{
                    @:N.A
                }
                
            </td>
                <td>
                    @if (item.UltimoNome != null) {
                        @Html.DisplayFor(modelItem => item.Email)
                    } else {
                        @:N.A
                    }
                </td>
                <td>

                    @if (@item.Roles.Any()) {
                        <ul class="list-group list-group-horizontal">
                            @foreach (var role in @item.Roles) {
                                @if(role.Equals("Admin")){
                                    <li class="list-group-item text-white  bg-danger flex-fill ms-2">@role</li>

                                }
                                @if (role.Equals("Anfitriao")) {
                                    <li class="list-group-item text-white  bg-warning flex-fill ms-2">@role</li>

                                }
                                @if (role.Equals("Cliente")) {
                                    <li class="list-group-item text-white  bg-primary flex-fill ms-2">@role</li>

                                }



                            }
                        </ul>

                    } else {

                        <span>N.A.</span>
                    }

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
                <td class="align-content-center text-nowrap">
                    <a asp-action="Edit" title="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil link-success icons-index"></i></a>
                    <a asp-action="Details" title="Ver" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info icons-index"></i></a>
                    <a data-bs-toggle="modal" title="Apagar" style="cursor:pointer" data-bs-target="#modalApagar" onclick="teste('@item.Id','@item.Username')"><i class="fa fa-trash icons-index link-danger delete"></i></a>
                </td>
        </tr>
}
    </tbody>
</table>
