@using EFS_23298_23327.Data.Enum
@model EFS_23298_23327.Models.Temas

@{
    ViewData["Title"] = "Criar";
    
}

<script>

    
</script>




<div class="mt-4">
    <a class="bi bi-arrow-left-circle-fill h2 me-5 text-info iconesConf" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>


<h2 class="ms-2  mt-4">Criar Tema </h2>

<hr class="bg-primary " />
@if (@ViewBag.TemaExistente != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Tema <strong>@ViewBag.TemaExistente</strong> já existe!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "required" })
                    <input asp-for="Nome"  class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label required"></label>
                    <textarea asp-for="Descricao" class="form-control">

                    </textarea>  
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TempoEstimado, new { @class = "required" })
                    <input asp-for="TempoEstimado" class="form-control" />
                    <span asp-validation-for="TempoEstimado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Preco, new { @class = "required" })
                    <input asp-for="Preco" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="MinPessoas" class="control-label required"></label>
                    <input min="1" max="10" asp-for="MinPessoas" class="form-control" />
                    <span asp-validation-for="MinPessoas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPessoas" class="control-label required"></label>
                    <input min="1" max="20" asp-for="MaxPessoas" class="form-control" />
                    <span asp-validation-for="MaxPessoas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dificuldade, new { @class = "required" })
                    <select class="form-select" asp-for="Dificuldade" aria-label="Escolher dificuldade">
                        
                    @foreach (var dif in Html.GetEnumSelectList<Dificuldade>())
                    {
                            <option value="@dif.Value">@dif.Text</option>
                    }
                    </select>
                    <span asp-validation-for="Dificuldade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Icone)
                    <input asp-for="Icone" class="form-control" id="temasIcon" />
                    <span asp-validation-for="Icone" class="text-danger"></span>
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.Sala)
                    @if(@ViewBag.s != null && (ViewBag.s as List<Salas>).Any()){
                        
                        <select class="form-select" asp-for="SalaID" aria-label="Escolher dificuldade">
                            <option value="@null">Nenhuma </option>
                            @foreach (var dif in @ViewBag.s as List<Salas>) {
                                <option value="@dif.SalaId">@dif.Numero</option>
                            }
                        </select>
                    }else{
                       <p>Nenhuma sala criada</p>
                    }
                    
                    
                    <span asp-validation-for="SalaID" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>

    <br/>
    <div class="w-50 container-fluid justify-content-center text-center">
        Adicionar Imagens
        <input asp-for="ListaFotos" type="file"
           name="Imagem"
           accept=".png,.jpg,.jpeg"
               class="form-control" data-show-caption="true" multiple />
        <span class="text-danger" asp-validation-for="ListaFotos"></span>
    </div>
   
    
    <br />
    <div class="form-group text-center d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Criar" class="btn btn-outline-secondary btn-lg" />
    </div>
    

</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
