@using EFS_23298_23327.Data.Enum
@model EFS_23298_23327.Models.Temas

@{
    ViewData["Title"] = "Editar";
}

<div>
    <a class="fa fa-angles-left display-6 link-underline-opacity-0 link-secondary" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>


<h2 class="ms-5">Editar Tema <span style="color:mediumpurple"><strong>@Model.Nome</strong></span> </h2>

<br/>
<hr />
@if (ViewBag.ShowAlert == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Tema <strong>@Model.Nome</strong> guardado com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["FotoEliminada"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
       Foto eliminada com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (@ViewBag.TemaExistente != null && ViewBag.TemaExistente != Model.Nome)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Tema <strong>@ViewBag.TemaExistente</strong> já existe!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <input type="hidden" asp-for="TemaId" />
    <div class="container-fluid mt-1 justify-content-center h-100 d-inline-block">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "required" })
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TempoEstimado, new { @class = "required" })
                    <input asp-for="TempoEstimado" class="form-control" />
                    <span asp-validation-for="TempoEstimado" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="MinPessoas" class="control-label"></label>
                    <input min="1" max="10" asp-for="MinPessoas" class="form-control" />
                    <span asp-validation-for="MinPessoas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPessoas" class="control-label"></label>
                    <input min="1" max="20" asp-for="MaxPessoas" class="form-control" />
                    <span asp-validation-for="MaxPessoas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dificuldade, new { @class = "required" })
                    <select class="form-select" asp-for="Dificuldade" aria-label="Escolher dificuldade">
                        @foreach (var dif in Html.GetEnumSelectList<Dificuldade>())
                        {
                            <option value="@dif.Value">@dif.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Dificuldade" class="text-danger"></span>
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.Sala)
                    @if (@ViewBag.s != null && (ViewBag.s as List<Salas>).Any()) {
                        <select class="form-select" asp-for="SalaID" aria-label="Escolher dificuldade">
                            <option value="@null">Nenhuma </option>
                            @foreach (var dif in @ViewBag.s as List<Salas>) {
                                <option value="@dif.SalaId">@dif.Numero</option>
                            }
                        </select>
                    } else {
                        <p>Nenhuma sala criada</p>
                    }


                    <span asp-validation-for="SalaID" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    
    <div class="w-50 container-fluid justify-content-center align-items-center text-center">
        <div class="row justify-content-center align-items-center text-center">
       Adicionar Imagens


            <input asp-for="ListaFotos" type="file" name="Imagem" accept=".png,.jpg,.jpeg" class="form-control" data-show-caption="true" multiple></i></input>
           
        </div>
        
        
        <span class="text-danger" asp-validation-for="ListaFotos"></span>
    </div>
    <br />
    <div class="form-group text-center mt-lg-4  mx-auto">
        <a type="submit">
            @if (@ViewBag.TemaAntigo != null)
            {
                @Html.Hidden("NomeAntigo",(String) @ViewBag.TemaAntigo)
            }
           
            <button class="btn btn-primary btn-lg" ><i class="fa fa-floppy-disk me-2"></i>Guardar tema</button>
        </a>
    </div>

    <br />
    <br />

    

</form>

<div class="row">

    @foreach (var foto in @Model.ListaFotos)
    {

        <div class="col-lg-2 d-none d-lg-block text-center  " style="width:250px">
            <div class="card col-xs-6" style="min-height:100%">
                <div style=" height: 100px;">
                <a data-fancybox="gallery" data-caption="Imagem do tema '@Model.Nome'"
                       href="~/Imagens/@foto.Nome" style="text-decoration:none;min-height:50%" class="mt-2">
                    <img src="~/Imagens/@foto.Nome"
                         alt="Imagem do tema '@Model.Nome'"
                         title="Imagem do tema '@Model.Nome'"
                         class="rounded img-thumbnail  expandeImagem" width="100%" style="max-height:100px;min-height:100px" />

                </a>
                </div>

                <div class="card-body m-auto" style="min-height:20px">
                    <form id="apagarTema" method="post" asp-action="EliminaFoto" asp-route-id="@foto.FotoId">
                        <button class="btn btn-danger align-self-end" title="Eliminar imagem"> <i class="fa fa-trash me-2"></i>Eliminar</button>
                    </form>
                </div>
                
            </div>
        </div>






    }

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
