@using Humanizer
@using System.Globalization
@model EFS_23298_23327.ViewModel.ReservasDashboardViewModel


@{


    IEnumerable<Reservas> reservasProx = Model.Reservas.Where(r => r.ReservaDate >= DateTime.Now && !r.Cancelada).OrderBy(r => r.ReservaDate).ToList();
        IEnumerable<Reservas> reservasAnt = Model.Reservas.Where(r => r.ReservaEndDate < DateTime.Now && !r.Cancelada).OrderByDescending(r => r.ReservaEndDate).ToList();
                IEnumerable<Reservas> reservasCanc = Model.Reservas.Where(r => r.Cancelada).OrderBy(r => r.ReservaEndDate).ToList();





    var r = reservasProx.First();

    Dictionary<int, int?> idSalasnome = new Dictionary<int, int?>();
    HashSet<int> numSalas = Model.Reservas.Select(s => s.Sala.Numero).ToHashSet();

    Dictionary<int?,string> userPrefSalas = new Dictionary<int?, string>();

    if(Model.UserPrefs!=null){
  foreach(var c in Model.UserPrefs.Cores){

         userPrefSalas.TryAdd(c.Key,c.Value);
     }
     

    }

    var listaReservasCal=Model.Reservas;
    if(!Model.UserPrefs.mostrarCanceladas){
        listaReservasCal = Model.Reservas.Where(r=>!r.Cancelada).ToList();
    }
   



    foreach (var c in Model.Reservas) {
        var random = new Random();
        if (!userPrefSalas.ContainsKey(c.SalaId)) {
            userPrefSalas.Add(c.SalaId, String.Format("#{0:X6}", random.Next(0x1000000))); // = "#A197B9")

        }
        
            idSalasnome.TryAdd(c.Sala.Numero, c.SalaId); // = "#A197B9")

        

    }

    ViewBag.RandColors = userPrefSalas;
    ViewBag.SalaNome = idSalasnome;
    ((Dictionary<int?, string>)ViewBag.RandColors).GetValueOrDefault(1);
    var resHojeLst = reservasProx.Where(r => DateTime.Now.Day == r.ReservaDate.Day);
    var resAmanhaLst = reservasProx.Where(r => DateTime.Now.Day + 1 == r.ReservaDate.Day);
    var resSemanaLst = reservasProx.Where(r => ISOWeek.GetWeekOfYear(r.ReservaDate) == ISOWeek.GetWeekOfYear(DateTime.Now));
    var resProxSemanaLst = reservasProx.Where(r => ISOWeek.GetWeekOfYear(r.ReservaDate) == ISOWeek.GetWeekOfYear(DateTime.Now) + 1);
    var resMesLst = reservasProx.Where(r => DateTime.Now.Month == r.ReservaDate.Month);
    var resAnoLst = reservasProx.Where(r => DateTime.Now.Year == r.ReservaDate.Year);
        var resTodasLst = reservasProx.ToList();

        var resConcluidasSemana = Model.Reservas.Where(r => r.ReservaEndDate <= DateTime.Now && ISOWeek.GetWeekOfYear(r.ReservaDate) == ISOWeek.GetWeekOfYear(DateTime.Now) && !r.Cancelada).ToList().Count();
        var resCancelSemana = Model.Reservas.Where(r => ISOWeek.GetWeekOfYear(r.ReservaDate) == ISOWeek.GetWeekOfYear(DateTime.Now) && r.Cancelada).ToList().Count();
         var resFaltaSemana = Model.Reservas.Where(r => r.ReservaDate > DateTime.Now && ISOWeek.GetWeekOfYear(r.ReservaDate) == ISOWeek.GetWeekOfYear(DateTime.Now) && !r.Cancelada).ToList().Count();





    var resHojeCount = resHojeLst.Count();
    var resAmanhaCount = resAmanhaLst.Count();
    var resSemanaCount = resSemanaLst.Count();
    var resProxSemanaCount = resProxSemanaLst.Count();
    var resMesCount = resMesLst.Count();
    var resAnoCount = resAnoLst.Count();
       var resTodasCount = resTodasLst.Count();
              var resCancCount = reservasCanc.Count();

       var resAntCount = reservasAnt.Count();







    @functions {

        public string GeraAnfsStringHtmlSingle(Reservas s) {
            var str = "";
            foreach (var a in s.ListaAnfitrioes) {
                var v = a.PrimeiroNome + " " + a.UltimoNome;
                if (v.Equals(@TempData["userLoggedNome"])) {
                    str += "<li class='list-group-item text-white border-success border-3 bg-secondary flex-fill ms-2' data-bs-toggle='tooltip' data-html='true' data-bs-placement='top' title='EU'>" + v + "</li>";
                }
                str += "<li class='list-group-item text-white bg-warning flex-fill ms-2'>" + v + "</li>";
            }

            return str;
        }

        public string GetHumanReadableCount(string s, int c) {
            return s.ToQuantity(c);



        }
        public string getHtmlStrForAccordeon(IEnumerable<Reservas> lstReservas) {
            var str = "";
            foreach (var r in lstReservas) {
                var salaCor = ((Dictionary<int?, string>)ViewBag.RandColors).GetValueOrDefault(r.Sala.SalaId);
                //str+= "<li class='list-group-item text-white border-success border-3 bg-secondary flex-fill ms-2' >" + r.Sala.Numero + "</li>";
                str += @"<div class='accordion-body rounded-pill border border-2 mb-3 text-white flex-fill' style='border-color:" + salaCor +" !important'><table class='table text-center justify-content-center align-items-center table-hover table-sm'><thead><tr><th scope='col'>Nº Reserva</th><th scope='col'>Sala</th><th scope='col'>Data</th><th scope='col'>Tema</th><th scope='col'>Criada Por</th><th scope='col'>Ações</th></tr></thead><tbody><tr><th scope='row'>"+ r.ReservaId + "</th><td style='color:"+salaCor+"'>" + r.Sala.Numero + "</td><td>"+r.ReservaDate.ToString("dd/MM/yyyy HH:mm")+"</td><td><span class='text-"+@DifficultiesValue.GetDifficultyColor((int)r.TemaDif)+"'>"+r.TemaNome+"</span></td><td>"+r.Cliente.PrimeiroNome +" "+ r.Cliente.UltimoNome+"</td><td><i class='bi bi-eye-fill me-2 ver' style='font-size:1.5rem;cursor:pointer'  id='"+ r.ReservaId+"Ver' data-bs-toggle='tooltip' data-bs-placement='top' title='Mais informações sobre a reserva' ></i><i class='bi bi-calendar-event cal' data-bs-toggle='tooltip' data-bs-placement='top' title='Ver no calendário' style='font-size:1.5rem;cursor:pointer' id='"+ r.ReservaId+"Cal' ></i></td></tr></tbody></table> </div>";

            }
            return str;




        }



    }


    



    var salasLegenda = "";

    
    
    foreach (var s in numSalas) {

        salasLegenda += "<span class='me-2'>Sala " + s + "<i class='ms-2 bi bi-circle-fill' style='color:" + userPrefSalas.GetValueOrDefault(idSalasnome.GetValueOrDefault(s)) + "'></i></span>";
        salasLegenda += "\t\t";
    }
    




}

<div id="save"></div>
    <div class="modal  fade " id="modalPrefs" style="z-index:5000 !important" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog text-center">
    <div class="modal-content text-center border-secondary border-2">
      <div class="modal-header text-center">
        <h1 class="modal-title text-center fs-5" id="exampleModalLabel">Preferências</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <div class="container-fluid">

        
    @foreach(var i in userPrefSalas){
                <div> 
                    <div class="col text-center ">

                        <span> Sala @idSalasnome.FirstOrDefault(x => x.Value == i.Key).Key </span>
                         <div class="col text-center">

            <input type="text" style="width:150px;z-index:9999999 !important" id="@i.Key" class="ms-5 salasCor"  value="@i.Value" data-coloris>
                  </div>
                         
                  </div>
                  
                  
  </div>

                 
    }

     </div>


       <div class="text-end mt-5 ">
           <label class="form-check-label" for="showCancel">Mostrar Canceladas  </label>

           <input class="form-check-input" type="checkbox" checked="@Model.UserPrefs.mostrarCanceladas" id="showCancel">
  

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" onclick="saveCor()">Guardar</button>
      </div>
    </div>
  </div>
</div>
    






<div class="container vh-99 w-100 d-flex justify-content-center align-items-center">

    <div class="d-inline-block w-100   d-flex flex-row">

        <div class="card border-primary flex-grow-1 w-100 me-5 mb-5" style="overflow-y: auto;max-height: 60vh;" id="container">
            <div class="border-warning border-4 float-end ">
                <i class=" ms-2 bi bi-patch-question fa-1x text-white" data-bs-toggle="tooltip" data-html="true" data-bs-placement="top" data-bs-html='true' title="A seleção temporal apenas se aplica às próximas reservas!"></i>
            <select class="form-select text-center border-info  border-top border-4" id="selectCount" aria-label="Default select example">
                <option value="hoje" selected>Hoje</option>
                <option value="amanha">Amanhã</option>
                <option value="semana">Esta semana</option>
                <option value="proxSemana">Próxima semana</option>
                <option value="mes">Este mês</option>
                <option value="ano">Este ano</option>
                <option value="todas">Todas</option>

            </select>
            <div class="text-center mb-0    " >  
             <span class="text-center h5">Próximas Reservas</span>
            <div class="card-header text-center h3 border-top align-content-center align-items-center accordion-button">
               
                <button class="card-header w-100 text-center h3 btn btn-outline-secondary text-center collapsed" type="button"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOneProx" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span id="countText">@GetHumanReadableCount("reserva", resHojeCount)</span><i class="bi bi-arrow-down-circle float-end"></i>

                </button>

            </div>
            <div class="card-body border-warning border-warning border-bottom border-left">
                     <div class="accordion accordion-flush " id="accordionFlushProx">
                            <div id="flush-collapseOneProx" class="accordion-collapse collapse" data-bs-parent="#accordionFlushProx">
                            <div id="placeholderAccordeon"></div>
                            </div>
                        </div>
            </div>

            </div>
            </div>
             <div class="text-center">
                 <span class="h5" >
            <div class="text-center" >  
             <span class="text-center">Reservas Anteriores</span>
            <div class="card-header text-center h3 border-bottom align-content-center align-items-center accordion-button">
               
                <button class="card-header w-100 text-center h3 btn btn-outline-secondary text-center collapsed" type="button"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOneAnt" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span id="countText">@GetHumanReadableCount("reserva", resAntCount)</span><i class="bi bi-arrow-down-circle float-end"></i>

                </button>

            </div>
            <div class="card-body">
                <div class="accordion accordion-flush " id="accordionFlushAnt">
                    <div id="flush-collapseOneAnt" class="accordion-collapse collapse" data-bs-parent="#accordionFlushAnt">
                        <div id="placeholderAccordeonAnt"></div>
                    </div>
                </div>
            </div>
            </div>
             </div>

              <div class="text-center" >  
             <span class="text-center h5">Reservas Canceladas</span>
            <div class="card-header text-center h3 border-bottom align-content-center align-items-center accordion-button">
               
                <button class="card-header w-100 text-center h3 btn btn-outline-secondary text-center collapsed" type="button"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOneCanc" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span id="countText">@GetHumanReadableCount("reserva", resCancCount)</span><i class="bi bi-arrow-down-circle float-end"></i>

                </button>

            </div>
            <div class="card-body">
                <div class="accordion accordion-flush " id="accordionFlushCanc">
                    <div id="flush-collapseOneCanc" class="accordion-collapse collapse" data-bs-parent="#accordionFlushCanc">
                        <div id="placeholderAccordeonCanc"></div>
                    </div>
                </div>
            </div>
            </div>
                    


        </div>

        <div class="card border-primary  mb-5" style="flex-shrink:2">
            <div class="card-header text-center h3 border-bottom border-secondary border-3">Próximas reservas</div>
            <div class="card-body ">
                <btn class="card-title h4 w-100 btn btn-outline-secondary border-4" style="border-color:@userPrefSalas.GetValueOrDefault(@r.SalaId) !important" onclick='showModal(
"@DifficultiesValue.GetDifficultyColor((int)@r.TemaDif)","@r.ReservaId","@r.Cliente.PrimeiroNome @r.Cliente.UltimoNome","@r.ReservaDate.ToString("dd-MM-yyyy HH:mm:ss")","@r.ReservaEndDate.ToString("dd-MM-yyyy HH:mm:ss")"
      ,"@r.NumPessoas","@userPrefSalas.GetValueOrDefault(r.SalaId)",
      "@r.Sala.Numero","@r.TemaNome","@r.TotalPreco","@GeraAnfsStringHtmlSingle(r)","@r.Cancelada")'>Reserva nº @r.ReservaId - Em @TimeSpan.FromHours((r.ReservaDate - DateTime.Now).TotalHours).Humanize(2) - Sala @Model.Reservas.First().Sala.Numero</btn>

                <div class="justify-content-center">
                    <div class="row">

                        @foreach (var s in reservasProx.Skip(1).Take(3)) {
                            <div class="col">
                                <btn class="card-title h2 w-80 btn btn-outline-info border-2" style="border-color:@userPrefSalas.GetValueOrDefault(@r.SalaId) !important" onclick='showModal(
"@DifficultiesValue.GetDifficultyColor((int)@s.TemaDif)","@s.ReservaId","@s.Cliente.PrimeiroNome @s.Cliente.UltimoNome","@s.ReservaDate.ToString("dd-MM-yyyy HH:mm:ss")","@s.ReservaEndDate.ToString("dd-MM-yyyy HH:mm:ss")"
      ,"@s.NumPessoas","@userPrefSalas.GetValueOrDefault(s.SalaId)",
      "@s.Sala.Numero","@s.TemaNome","@s.TotalPreco","@GeraAnfsStringHtmlSingle(s)","@s.Cancelada")'>Reserva nº @s.ReservaId - Em @TimeSpan.FromHours((s.ReservaDate - DateTime.Now).TotalHours).Humanize(2) - Sala @s.Sala.Numero</btn>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
    
 

<div id="teste" class="text-end">@Html.Raw(salasLegenda)<button type="button" class="btn btn-primary btn-info" data-bs-toggle='tooltip' data-html='true' data-bs-placement='top' title='Preferências de visual' id="showModalBtn">
<i class="bi bi-gear me-3 text-end float-end  fa-1x" ></i></button></div><span class="h6"><span class="text-success">@GetHumanReadableCount("reservas concluídas",resConcluidasSemana)</span>  <span class="text-danger">@GetHumanReadableCount("reservas canceladas",resCancelSemana)</span> <span class="text-warning">@GetHumanReadableCount("reservas",resFaltaSemana) em falta</span></span>
<div id="rModal"></div>
<div id='calendar' class=" text-white "></div>

</div>


<script>

    function saveCor(){
        console.log("dwadwa")
      var  dict = new Object();
    
       $(".salasCor").each(function(index,item){
            dict[$(this).attr('id')] = $(this).val();
       })

       $.post('/Home/SaveCor/', { dic: dict,showCancel:$("#showCancel").is(":checked") },function(result){

           if(result.failed){
               
           }else{
               $("#save").html(result);
                              $("#modalPrefs").modal("hide")

               setTimeout(function(){
   window.location.reload();
}, 1000);
           }


       });
                
    };
      

    

    function testeBtn(){
        console.log("dwadwa")
       $("#fsContainer").html($("#container").html())
       $("#modalFS").modal("show")

    }


        document.addEventListener('DOMContentLoaded', function () {
    @* $("#ex").modal("show");*@

    $("#showModalBtn").on("click",function(){
        $("#modalPrefs").modal("show")
    })
    
    
    $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resHojeLst))");
        $("#placeholderAccordeonAnt").html("@Html.Raw(@getHtmlStrForAccordeon(reservasAnt))");
         $("#placeholderAccordeonCanc").html("@Html.Raw(@getHtmlStrForAccordeon(reservasCanc))");


    
    
      var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))


       $("#selectCount").on('change',function(){

          
           var novoTxt="";
            if(this.value=="hoje"){
               $("#countText").text("@GetHumanReadableCount("reserva", resHojeCount)");
               $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resHojeLst))");
                console.log("wdawwd");
              
           }
           if(this.value=="amanha"){
               $("#countText").text("@GetHumanReadableCount("reserva", resAmanhaCount)");
            $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resAmanhaLst))");
             console.log("wdawwd");

           }
           if(this.value=="semana"){
               $("#countText").text("@GetHumanReadableCount("reserva", resSemanaCount)");
              $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resSemanaLst))");
               console.log("wdawwd");

           }
            if(this.value=="proxSemana"){
               $("#countText").text("@GetHumanReadableCount("reserva", resProxSemanaCount)");
               $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resProxSemanaLst))");
                console.log("wdawwd");

           }
           if(this.value=="mes"){
               $("#countText").text("@GetHumanReadableCount("reserva", resMesCount)");
               $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resMesLst))");
                console.log("wdawwd");
           }
           if(this.value=="ano"){
               $("#countText").text("@GetHumanReadableCount("reserva", resAnoCount)");
               $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resAnoLst))");
                console.log("wdawwd");
           }
           if(this.value=="todas"){
               $("#countText").text("@GetHumanReadableCount("reserva", resTodasCount)");
               $("#placeholderAccordeon").html("@Html.Raw(@getHtmlStrForAccordeon(resTodasLst))");
                console.log("wdawwd");
           }


          var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
       });




    @************************************************************************@

                var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',

            initialView: 'timeGridWeek',
            locale: 'pt',
            slotEventOverlap: false,
             resourceGroupField: 'groupId',

            initialDate: new Date(),
            stickyHeaderDates:true,

            eventMouseEnter: function(info){
                $(info.el).css('cursor','pointer');
            },
            slotDuration:'00:15:00',
            slotMinTime: "06:00:00",
            slotMaxTime: "22:00:00",

            hiddenDays: [0],
            eventOverlap: false,
            timeZone: 'UTC',
            selectOverlap: false,
            nowIndicator: true,
            selectable: false,
            //eventColor: '#2a602a',
            selectAllow: function (info) {
                console.log(info.start >= new Date())
                return (info.start >= new Date());
            },
            editable: false,
            eventDisplay: 'bock',
            eventStartEditable: false,
            eventDurationEditable: false,
            contentHeight: 'auto',
            eventTextColor:'white',
            allDaySlot: false,
            headerToolbar: {
            left: 'prev,dayGridMonth',
            center: 'title,today',
            right: "next,timeGridWeek"


        },

            buttonText: {

            today: 'Ver dia atual',
            month: 'ver mês',
            week: 'ver semana',
            day: 'ver dia'

        },

            eventDidMount: function (info) {
                $(info.el).tooltip({
                    title: info.event.extendedProps.description,
                    placement: "top",
                    trigger: "hover",
                    container: "body"
                });
               
            },

           
                eventClassNames: function(arg) {
                    console.log(arg.event.extendedProps.cancelada)
  if (arg.event.extendedProps.cancelada == "True") {
    return [ 'strike-class' ]
  } else{
      return ['textWhite']
  }
},

            events: [



    @foreach (var i in @listaReservasCal) {
        @if (i.Equals(@listaReservasCal.Last())) {
            <text>{
                @if (i.ReservaDate < DateTime.Now) {
                    @: title: 'Reserva @i.ReservaId - Sala @i.Sala.Numero -  @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize() atrás',

                } else {
                    @: title: 'Reserva @i.ReservaId - Sala @i.Sala.Numero - Em @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize(2)',

                }


                @if(i.ReservaEndDate<DateTime.Now){
                    @:display:'background',
                }
                                id:'@i.ReservaId',
                                start: '@i.ReservaDate.ToString("yyyy-MM-ddTHH:mm:ss")',
                                end: '@i.ReservaEndDate.ToString("yyyy-MM-ddTHH:mm:ss")',
                                @if (i.ReservaDate < DateTime.Now) {
                    @: description: 'Reserva @i.ReservaId - Sala @i.Sala.Numero -  @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize() atrás',

                } else {
                    @: description : 'Reserva @i.ReservaId - Sala @i.Sala.Numero - Em @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize(2)',

                }

                                //groupId:'@i.SalaId',
                                color:'@userPrefSalas.GetValueOrDefault(i.SalaId)',
                                extendedProps: {
                    nome: '@i.Cliente.PrimeiroNome @i.Cliente.UltimoNome',
                    idReserva:'@i.ReservaId',
                    dataI: '@i.ReservaDate.ToString("dd-MM-yyyy HH:mm:ss")',
                    dataF: '@i.ReservaEndDate.ToString("dd-MM-yyyy HH:mm:ss")',
                            salaColor: '@userPrefSalas.GetValueOrDefault(i.SalaId)',

                    temaNome: '@i.TemaNome',
                    diffStr : '@DifficultiesValue.GetDifficultyColor((int)i.TemaDif)',
                     sala: "@i.Sala.Numero",
                     cancelada: '@i.Cancelada',
                    nPessoas:'@i.NumPessoas',
                    totalPreco:'@i.TotalPreco',
                @{
                    var anfStr = "";
                    @foreach (var a in i.ListaAnfitrioes) {
                        anfStr += a.PrimeiroNome + " ";
                        anfStr += @a.UltimoNome + ",";
                    }
                    anfStr = anfStr.Remove(anfStr.Length - 1);
                }
                    nomesAnf:'@anfStr'

                  },


                @if (i.Cliente.UserName.Equals(User.Identity.Name)) {
                    @:color: '#a463eb',
                }
                            allDay: false
                                    }</text>
        } else {
            <text>{
                             @if(i.ReservaDate<DateTime.Now){
                                @: title: 'Reserva @i.ReservaId - Sala @i.Sala.Numero - @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize() atrás',

                             }else{
                                 @: title: 'Reserva @i.ReservaId - Sala @i.Sala.Numero - Em @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize(2)',

                             }

                             
                @if(i.ReservaEndDate<DateTime.Now){
                    @:display:'background',
                }
                                start: '@i.ReservaDate.ToString("yyyy-MM-ddTHH:mm:ss")',
                                id:'@i.ReservaId',
                                end: '@i.ReservaEndDate.ToString("yyyy-MM-ddTHH:mm:ss")',
                                 @if (i.ReservaDate < DateTime.Now) {
                    @: description: 'Reserva @i.ReservaId - Sala @i.Sala.Numero -  @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize() atrás',

                } else {
                    @: description: 'Reserva @i.ReservaId - Sala @i.Sala.Numero - Em @TimeSpan.FromHours((i.ReservaDate - DateTime.Now).TotalHours).Humanize(2)',

                }
                                color:'@userPrefSalas.GetValueOrDefault(i.SalaId)',
                                //groupId:'@i.SalaId',
                                extendedProps: {
                     nome: '@i.Cliente.PrimeiroNome @i.Cliente.UltimoNome',
                    dataI: '@i.ReservaDate.ToString("dd-MM-yyyy HH:mm:ss")',
                    idReserva:'@i.ReservaId',
                    dataF: '@i.ReservaEndDate.ToString("dd-MM-yyyy HH:mm:ss")',
                    temaNome: '@i.TemaNome',
                    salaColor: '@userPrefSalas.GetValueOrDefault(i.SalaId)',
                    diffStr : '@DifficultiesValue.GetDifficultyColor((int)i.TemaDif)',
                     sala: "@i.Sala.Numero",
                    nPessoas:'@i.NumPessoas',
                    totalPreco:'@i.TotalPreco',
                    cancelada: '@i.Cancelada',
                @{
                    var anfStr = "";
                    @foreach (var a in i.ListaAnfitrioes) {
                        anfStr += a.PrimeiroNome + " ";

                        anfStr += @a.UltimoNome + ",";
                    }
                    anfStr = anfStr.Remove(anfStr.Length - 1);
                }
                    nomesAnf:'@anfStr'

                  },



                @if (i.Cliente.UserName.Equals(User.Identity.Name)) {
                    @:color: '#a463eb',

                }
                                allDay: false
                                       }, </text>

        }       }
                    ],
                     eventClick: function(info) {
                         console.log(info.event.extendedProps);
                         var nome = info.event.extendedProps.nome;
                         var dataI = info.event.extendedProps.dataI;
                         var dataF = info.event.extendedProps.dataF;
                         var salaColor= info.event.extendedProps.salaColor;
                         var reservaId= info.event.extendedProps.idReserva;
                         var anfs = info.event.extendedProps.nomesAnf;
                         var totalPreco = info.event.extendedProps.totalPreco;
                         var tema = info.event.extendedProps.temaNome;
                         var nPessoas = info.event.extendedProps.nPessoas;
                          var difStr = info.event.extendedProps.diffStr;
                         var sala = info.event.extendedProps.sala;
                         console.log(info.event.extendedProps);
                         var cancelada =  info.event.extendedProps.cancelada;
                        var anfsArr = anfs.split(',');
                                                 console.log(cancelada)

                        var nomeUser = '@TempData["userLoggedNome"]';
                        
                        var stringCanc="";
                        if(cancelada == "True"){
                            stringCanc = `<i class="bi bi-x text-danger fa-5x"></i><span class='text-danger h3'>Cancelada!</span></br>`

                        }


                        var str="";
                        $.each(anfsArr,function(i,v){

                            if(v==nomeUser){
                                str+="<li class='list-group-item text-white border-success border-3 bg-secondary flex-fill ms-2' data-bs-toggle='tooltip' data-html='true' data-bs-placement='top' title='EU'>" + v + "</li>"
                            }else{
                              str+="<li class='list-group-item text-white bg-warning flex-fill ms-2'>" + v + "</li>"

                            }

                        });



                         $("#rModal").html([
                      `<div class="modal text-center" id="ex" tabindex="-1">`,
      `<div class="modal-dialog text-center">`,
        `<div class="modal-content border-danger border-2">`,

          `<div class="modal-header text-center">`,
          
            `<h5 class="modal-title text-center">Reserva ${reservaId} - ${nome}</h5>`,
            `<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>`,
         `</div>`,
                    stringCanc,
          `<div class="modal-body">`,
              `<div class="container-fluid text-center justify-content-center">`,
            `<div class="row">`,
           ` <div class="col ">`,
                    `<div >`,
                       `Ínicio :<span class="text-success ms-1">${dataI}</span>`,

                  `</div>`,
                  `<div >`,
                       `Fim : <span class="text-danger ms-1">${dataF}</span>`,

                  `</div>`,
                `</div> `,
               ` <div class="col">`,
                    `<div class="text-info">`,
                      ` Número de pessoas: ${nPessoas}`,
                  `</div>`,
                  `<div >`,
                       `Sala: <span style="color:${salaColor}">${sala}</span>`,
                  `</div>`,
                `</div> `,
             `</div>` ,
             `<div class="mt-2 text-center  ">`,
             `Tema: <span class="text-${difStr}">${tema}</span>`,
                ` </div>`,
                 `<div class="mt-2 text-center  ">`,
            ` Preço Total: <span class="">${totalPreco}€</span>`,
                ` </div>`,
            ` <div class="mt-5 text-center  ">`,
             `<span class="">Anfitriões</span></br>`,

             `<ul class="list-group text-break list-group-horizontal mt-2 mb-2">`,
             `${str}`,
             `</div>`,
             ` </div>`,
         ` </div>`,

          `<div class="modal-footer">`,

            `<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>`,
          `</div>`,
        `</div>`,
      `</div>`,
    `</div>`  ].join(""));

    $("#ex").modal("show");
                     },
        eventTimeFormat: { // like '14:30:00'
            hour: '2-digit',
                minute: '2-digit',

                    meridiem: false,
                        hour12: false
        },


        });



         $(document).on('click', ".ver" , function() {
             var idSala=$(this).attr("id").split("Ver")[0];
            

            
             var info= calendar.getEventById(idSala);
             console.log(info)
              var nome = info.extendedProps.nome;
               var dataI = info.extendedProps.dataI;
              var dataF = info.extendedProps.dataF;
              var salaColor= info.extendedProps.salaColor;
              var reservaId= info.extendedProps.idReserva;
              var anfs = info.extendedProps.nomesAnf;
              console.log(anfs)
              var totalPreco = info.extendedProps.totalPreco;
              var tema = info.extendedProps.temaNome;
              var nPessoas = info.extendedProps.nPessoas;
               var difStr = info.extendedProps.diffStr;
               var cancel = info.extendedProps.cancelada;
              var sala = info.extendedProps.sala;
              console.log(info.extendedProps);
             var anfsArr = anfs.split(',');
             var nomeUser = '@TempData["userLoggedNome"]';
               var str="";
                        $.each(anfsArr,function(i,v){

                            if(v==nomeUser){
                                str+="<li class='list-group-item text-white border-success border-3 bg-secondary flex-fill ms-2' data-bs-toggle='tooltip' data-html='true' data-bs-placement='top' title='EU'>" + v + "</li>"
                            }else{
                              str+="<li class='list-group-item text-white bg-warning flex-fill ms-2'>" + v + "</li>"

                            }

                        });
           
             showModal(difStr,reservaId,nome,dataI,dataF,nPessoas,salaColor,sala,tema,totalPreco,str,cancel);


         });

         $(document).on('click', ".cal" , function() {
          
    var idSala=$(this).attr("id").split("Cal")[0];
              var info= calendar.getEventById(idSala);
              var difStr = info.extendedProps.diffStr;
                  var salaColor= info.extendedProps.salaColor;
              calendar.gotoDate(info.start);
              info.setProp( "borderColor","yellow");
               //info.setProp( "backgroundColor","yellow");
                   $('html, body').animate({
        scrollTop: $('#calendar').offset().top}, 'slow');
        
});



            calendar.render();

            


                });

               

</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

                  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>