@using EFS_23298_23306.Data.Enum
@model EFS_23298_23306.Models.Utilizadores

@{
    ViewData["Title"] = "Editar";
}

<div>
    <a class="fa fa-angles-left display-6 link-underline-opacity-0 link-secondary" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>


<h2 class="ms-5">Editar Utilizador <span style="color:mediumpurple"><strong>@Model.Username</strong></span> </h2>

<br />
<hr />
@if (ViewBag.ShowAlert == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Utilizador <strong>@Model.Username</strong> guardado com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (@ViewBag.UtilizadorExistente != null && ViewBag.UtilizadorExistente != Model.Username)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Utilizador <strong>@ViewBag.UtilizadorExistente</strong> já existe!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <input type="hidden" asp-for="UtilizadorID" />
    <div class="container-fluid mt-5 justify-content-center h-100 d-inline-block">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "required" })
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrimeiroNome" class="control-label"></label>
                    <input asp-for="PrimeiroNome" class="form-control" />
                    <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UltimoNome" class="control-label"></label>
                    <input asp-for="UltimoNome" class="form-control" />
                    <span asp-validation-for="UltimoNome" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroTelemovel" class="control-label"></label>
                    <input asp-for="NumeroTelemovel" class="form-control" />
                    <span asp-validation-for="NumeroTelemovel" class="text-danger"></span>
                </div>
                
            </div>
        </div>
    </div>
    <br />

    <div class="form-group text-center mt-lg-4  mx-auto">
        <a type="submit">
            @if (@ViewBag.UtilizadorAntigo != null)
            {
                @Html.Hidden("NomeAntigo", (String)@ViewBag.UtilizadorAntigo)
            }

            <button class="btn btn-primary btn-lg"><i class="fa fa-floppy-disk me-2"></i>Guardar Utilizador</button>
        </a>
    </div>



</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
