@using EFS_23298_23306.Data.Enum
@model EFS_23298_23306.Models.Temas

@{
    ViewData["Title"] = "Criar";
    ViewData["Nome"] = "Tema";
}







@if (@ViewBag.TemaExistente != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Erro! Tema <strong>@ViewBag.TemaExistente</strong> já existe!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "required" })
                    <input asp-for="Nome"  class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TempoEstimado, new { @class = "required" })
                    <input asp-for="TempoEstimado" class="form-control" />
                    <span asp-validation-for="TempoEstimado" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="MinPessoas" class="control-label"></label>
                    <input min="1" max="10" asp-for="MinPessoas" class="form-control" />
                    <span asp-validation-for="MinPessoas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPessoas" class="control-label"></label>
                    <input min="1" max="20" asp-for="MaxPessoas" class="form-control" />
                    <span asp-validation-for="MaxPessoas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dificuldade, new { @class = "required" })
                    <select class="form-select" asp-for="Dificuldade" aria-label="Escolher dificuldade">
                    @foreach (var dif in Html.GetEnumSelectList<Dificuldade>())
                    {
                            <option value="@dif.Value">@dif.Text</option>
                    }
                    </select>
                    <span asp-validation-for="Dificuldade" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>

    <br/>
    <div class="w-50 container-fluid justify-content-center text-center">
        <input asp-for="Foto" type="file"
           name="Imagem"
           accept=".png,.jpg,.jpeg"
           class="form-control"/>
    <span class="text-danger" asp-validation-for="Foto"></span>
    </div>
   
    
    <br />
    <div class="form-group text-center d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Criar" class="btn btn-outline-primary btn-lg" />
    </div>
    

</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
