@model EFS_23298_23306.Models.Temas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Temas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoEstimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto.FotoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.SalaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TemaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
