
@model EFS_23298_23327.ViewModel.ReservaViewModel

@{
    

   

}
<script>
    $(document).ready(function () {
        console.log("@Model.viewStart");
        console.log("@Model.dataI");
        console.log("@Model.viewEnd");

    });
   


</script>

   
    
<form asp-controller="TemasGeral" asp-action="Reserva" asp-route-id="@Model.Sala.SalaId" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar reserva para  @Model.dataI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                    @Html.HiddenFor(m => m.Sala.SalaId)
                    @Html.HiddenFor(m => m.Tema.TemaId)
                    @Html.HiddenFor(m => m.viewEnd)
                    @Html.HiddenFor(m => m.viewType)
                    @Html.HiddenFor(m => m.viewStart)
                    @Html.HiddenFor(m => m.dataI)
                    
                Numero de pessoas:
                    <input  asp-for="nPessoas" />
                </div>
                <div class="modal-footer">
                    
                    <button type="button" asp class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Confirmar Reserva" class="btn btn-success btn-lg" />
                </div>
               
            
        </div>
    </div>
</div>
</form>